@charset "UTF-8";
/* 回答はここから */

.question--title {
  font-size: 20px;
}

.q1--horizontality {
  width: 200px;
  margin: 0 auto 20px;
  padding: 20px;
  background-color: #a4e4f1;
}
.inline--box{
  display: flex;
  width: 200px;
  background-color: #FFF;
  display: inline-block;
  padding: 20px 0px;
}
.align--box{
  text-align: center;
}
.align--text{
  padding: 10px;
  background: #a4b3e9;
  display: inline-block;
}
.margin--text{
  margin: 0 auto;
  padding: 10px;
  background-color: #a4b3e9;
  width: 90px;
  position:relative;
  display: inline-block;
}
.margin--text div{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
}
/* <!-- Q1-2の回答はここから --> */
.q1--perimeter {
  width: 250px;
  height: 150px;
  margin: 0 auto 20px;
  background-color: #a4e4f1;
}
.table--box{
  display: table;
}
.table--text{
  vertical-align: middle;
  background-color: #FFF;
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
  display: table-cell;
  text-align: center;
}

.flex--box{
  display: flex;
}
.flex--text{
  background-color: #FFF;
  padding: 10px;
  font-size: 16px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.q1--position {
  width: 250px;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: #a4e4f1;
}

.container {
  display: inline-block;
  width: 250px;
  height: 150px;
  margin: 0 auto;
  background-color: #FFF;
  font-size: 16px;
  vertical-align: top;
}