@charset "UTF-8";

.flex--item{
  width: 65px;
  padding: 10px;
  margin: 10px;
  color: #fff;
  background-color: #00bbdd;
  text-align: center;
}
/* q1 */
.first--box1{
  display: flex;
  flex-direction: row;
}
.second--box1{
  display: flex;
  flex-direction:row-reverse;
}
.third--box1{
  display:flex;
  flex-flow: column;
}
.fourth--box1{
  display:flex;
  flex-direction:column-reverse;
}
/* q2 */
.first--box2{
  display: flex;
  white-space: nowrap;
}
.second--box2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.third--box2{
  display: flex;
  flex-flow: wrap-reverse;
}
/* q3 */
.first--box3{
  display: flex;
  justify-content: flex-start;
}
.second--box3{
  display: flex;
  justify-content: flex-end;
}
.third--box3{
  display: flex;
  justify-content: center;
}
.fourth--box3{
  display: flex;
  justify-content: space-between;
}
.fifth--box3{
  display: flex;
  justify-content: space-around;
}