@charset "UTF-8";
.cell--table {
  font-size: 18px;
}
th{
  background-color: #319c4a;
  line-height:26px;
  padding: 10px;
  border: solid 1px #000000;
}
td {
  border: solid 1px #000000;
  padding: 10px;
  text-align: center;
  background-color: #d5fFc7;
}
table {
  border-collapse: collapse;
  border-spacing : 10px;
  width:100% ;
  table-layout: fixed;
  line-height: 22px;
  font-size: 18px;

}
tr:nth-child(2n+1){
  background-color: #bcbcbc;
}